* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    padding: 2em 20em;
    background-image: linear-gradient(rgb(223, 253, 27, 0.4)), url(../images/background.png);
    background-position: center;
}

.container{
    width: 100%;
    margin: auto;
}

h1{
    font-size: 3em;
    text-align: center;
}

img{
    border-radius: 25px;
    margin-bottom: 1em;
}

h2{
   margin: .7em 0;
}

ul, ol {
    list-style: none;
}