* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    padding: 2em;
    background-color: rgb(199, 199, 38);
}

h1 {
    text-align: center;
    font-size: 3em;
}

img {
    width: 100%;
    height: 60%;
    border-radius: 23px 23px 0 0;
}

.recipes-container {
    margin-top: 2em;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1em;
}

.recipe-item{
    flex: 1;
    display: flex;
    justify-content: center;
}

.recipes-container .recipe-item a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
